
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.site-header {
    width: 100%;
    height: 15vh;
    background-color: white;
    display: block;
    align-items: center;
    justify-content: space-between;
}

nav {

    margin-left: 30px;
    margin-right: 30px;
}

.nav-brand {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.nav-brand img {
    width: 200px;
}

.site-menu-main {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;

}

.site-menu-main li {

    list-style: none;
}

.site-menu-main li a {
    font-size: 20px;
    color: #262729;
    text-decoration: none;

}

.header-btn {
    padding: 15px;
    background-color: #FF0000;
    border-radius: 30px;

}

.header-btn a {
    text-decoration: none;
    color: #fff;
}

.nav-brand i {
  text-align: center;
  padding-top: 20px;
  font-size: 40px;
  cursor: pointer;
  display: none;
}

.vertical-header {
  display: none;
  position: fixed;
  top: 10;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: white;
  z-index: 999;
  

}

.vertical-header ul {
  list-style: none;
  padding: 30px;
  width: 100%;
 border-top: 1px solid;
 
  
}

.vertical-header ul li {
  margin-bottom: 5px;
  padding-bottom: 80px;




}
.vertical-header ul li a{
  color: #262729;
  font-size: 16px;
  text-decoration: none ;
 
}

.fa-xmark{
position: absolute;
top: 10px;
right: 10px;
border-left: 1px solid;

font-size: 40px;

}

@media (max-width: 900px) {
  .nav-brand i {
    display: block;
  }

  .site-menu-main {
    display: none;
  }

  
  .header-btn{
    display: none;
  }
}

















.sssItem {
  background-image: url(./assets/sss.jpeg);
  height: 430px;
  background-size: cover;
  background-position: center;
}

.sssItem h1 {
  text-align: center;
  padding-top: 180px;
  color: #FFFFFF;
  font-size: 52px;
}

/* Mobile Responsive Styles */
@media (max-width: 900px) {
  .sssItem {
    height: auto; 
    padding: 20px; 
  }

  .sssItem h1 {
    padding-top: 60px; 
    font-size: 32px; 
  }
}






.accordionSSS {
  margin-top: 50px;
  margin-bottom: 50px;
  display: inline-block;
}

.accordion-item {
  margin-left: 100px;
  border: none;
  box-shadow: 0 10px 45px rgb(0, 0, 0, 0.1);
  background-color: #fff;
  width: 800px;
  margin-bottom: 30px;
}

.accordion-button {
  border: none;
  padding: 30px 30px;
  outline: none;
  box-shadow: none;
  background-color: transparent;
  font-size: 21px;
  color: #262729;
}

.accordion-body {
  font-size: 16px;
  padding: 20px 20px;
  color: #262729b3;
  border-left: 5px solid green;
  margin-left: 30px;
}

.accordion-body a {
  color: #ff5722;
  font-size: 18px;
}

/* Mobile Responsive Styles */
@media (max-width: 900px) {
  .accordion-item {
    margin-left: 20px;
    width: auto;
  }

  .accordion-button {
    padding: 20px 20px;
    font-size: 18px;
  }

  .accordion-body {
    padding: 15px;
    margin-left: 20px;
  }
}








.bodyFoter{
    background-color: #F8F9fC;
    text-align: center;
  }
  .bodyFoter h2{
    font-size: 38px;
    font-weight: 800;
  }
  .bodyFoter p{
    width: 500px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 380px;
    font-size: 16px;
    color:#25373F;

  }
  footer{
    background-color:#262729;
    width:100%;
    height: 50vh;
  }
  .conternirFooter{
    display: flex;
    justify-content: space-between;
    
  }
  .cardFooter{
    margin-top: 80px;
    display:block;
    margin-left: 40px;
  }
  .cardFooter img{
width: 200px;
margin-bottom: 20px;
  }
  .cardFooter button{
    padding: 15px 15px 15px 15px ;
    color: #fff;
    background-color: #FF0000;
    border-radius:10px;
  }
  .cardBodyFoter{
    margin-top: 80px;
    margin-right: 50px;
    display: flex;
    gap:20px;
  }
  .cardBodyFoter a{
    color:#fff;
    text-decoration: none;
  }
.footerMenuCard{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    color:#fff;
}

@media only screen and (max-width: 900px) {
  .conternirFooter {
    flex-direction: column;
    align-items: center;
  }

  .cardFooter,
  .cardBodyFoter {
    margin: 0;
    margin-top: 30px;
  }
}